# Core
streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4

openpyxl==3.1.5        # Excel export / import
matplotlib==3.9.0      # Charting
plotly==5.22.0         # Interactive charts in Streamlit
xlsxwriter==3.2.0      # Advanced Excel report generation
scipy==1.13.1          # Extra financial / statistical functions
